@model Fazilat.Models.Media

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Account/Views/Shared/_Layout.cshtml";
}

<h4>آیا از حذف فایل <b>@Html.DisplayFor(model => model.FileName)</b> اطمینان دارید؟</h4>
<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="بله، حتما" class="btn btn-danger" /> |
        <a asp-controller="Categories" asp-action="Details" asp-route-id=@Model.CategoryId class="btn btn-outline-secondary">پشیمان شدم</a>
    </form>
</div>
