@using Microsoft.AspNetCore.Identity
@using Fazilat.Models;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Account" asp-controller="Dashboard" asp-action="Index" title="Profile">پنل کاربری</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Account" asp-controller="Home" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-danger">خروج</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Account" asp-controller="Home" asp-action="Register">ثبت نام</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Account" asp-controller="Home" asp-action="Login">ورود</a>
    </li>
}
</ul>
