<div class="contact-card">
    <div class="contact-info">
        <div class="contact-whatsapp">
            <img src="/icons/whatsapp-blue.svg" />
            <h5 class="en">0936 204 6937</h5>
        </div>
        <div class="contact-phone">
            <img src="/icons/phone-blue.svg" />
            <h5 class="en">021 - 23456789</h5>
        </div>
        <div class="contact-address">
            <img src="/icons/location-blue.svg" />
            <h5>تهران، قلهک، خیابان دکتر شریعتی، بالاتر از میرداماد، کوچه احمدیه یکم، پلاک 10، واحد 7</h5>
        </div>
    </div>
</div>