<div class="contact-card">
    <div class="contact-info">
        <div class="contact-phone">
            <img src="/icons/phone-blue.svg" />
            <h5 class="en">0912 543 5602</h5>
        </div>
        <div class="contact-whatsapp">
            @* <img src="/icons/whatsapp-blue.svg" /> *@
            <img src="/icons/telegram-blue.svg" />
            <h5 class="en">0996 660 2337</h5>
        </div>
        <div class="contact-address">
            <img src="/icons/location-blue.svg" />
            <h5>تهران، قلهک، خیابان دکتر شریعتی، بالاتر از میرداماد، کوچه احمدیه یکم، پلاک 10، واحد 7</h5>
        </div>
    </div>
</div>