<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        @Html.ActionLink("Dashboard", "Index", "Dashboard", new { @area = "Account" }, new {@class = "nav-link" })
    </li>
    <li class="nav-item">
        @Html.ActionLink("Change Password", "ChangePassword", "Home", new { @area = "Account" }, new {@class = "nav-link" })
    </li>
    <li class="nav-item">
        @Html.ActionLink("Personal Information", "PersonalInfo", "Home", new { @area = "Account" }, new {@class = "nav-link" })
    </li>
    <li class="nav-item">
        @Html.ActionLink("Educational File", "EducationalFile", "Dashboard", new { @area = "Account" }, new {@class = "nav-link" })
    </li>
</ul>
