@if(TempData.TryGetValue("StatusMessage", out var statusMessage))
{
    var statusMessageClass = statusMessage.ToString().StartsWith("Error")
        ? "danger"
        : "success";

    int index = statusMessage.ToString().IndexOf("Error: ");
    var messageText = (index < 0) 
        ? statusMessage.ToString() 
        : statusMessage.ToString().Remove(index, 7);
    <div class="alert alert-@statusMessageClass text-right" role="alert">
        @messageText
    </div>
}