@model IEnumerable<Fazilat.Models.Workshop>

@{
    ViewData["Title"] = "دوره های جمعبندی امتحانات نهایی";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center mt-5" style="font-weight: 600;">@ViewBag.Title</h2>

<table class="list-group">
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="list-group-item d-flex justify-content-between align-items-end my-3">
                <td class="d-flex flex-column">
                    <h6 class="m-0" style="font-weight: 600;">@Html.DisplayFor(modelItem => item.Title)</h6>
                    @if (item.Grade == 10)
                    {
                        <small class="text-success text-right">پایه دهم</small>
                    }
                    else if(item.Grade == 11)
                    {
                        <small class="text-success text-right">پایه یازدهم</small>
                    }
                    else if(item.Grade == 12)
                    {
                        <small class="text-success text-right">پایه دوازدهم</small>
                    }
                </td>
                <td class="text-left">
                    <p class="mb-2">
                        <small>تاریخ شروع دوره: @Html.DisplayFor(modelItem => item.StartDate)</small>
                        |
                        <small class="text-primary">@Html.DisplayFor(modelItem => item.Cost) ریال</small>
                    </p>
                </td>
            </tr>
        }
    </tbody>
</table>
