@model HomeModel

<div class="panel-home">
    @if (Model.Panel.Level <= 2)
    {
        @Html.PartialAsync("ProfileCard", Model.User).Result
    }
    @if (Model.Panel.Level == 0)
    {
        @Html.PartialAsync("ProvincesCard", Model.Provinces).Result

        @Html.PartialAsync("RolesCard", Model.UserRoles).Result
    }
</div>
