@model HomeModel

<div class="panel-home">
    @Html.PartialAsync("ProfileCard", Model.User).Result
    
    @if (Model.Panel.Level == 0)
    {
        @Html.PartialAsync("ProvincesCard", Model.Provinces).Result

        @Html.PartialAsync("RolesCard", Model.UserRoles).Result
        
        <div class="panel-card" style="flex-basis: 100%;">
            <a asp-area="Dashboard" asp-controller="Album" asp-action="Index">آلبوم تصاویر</a>
        </div>
        @Html.PartialAsync("UsersCard", Model.Users).Result
    }
</div>
