@model Fazilat.Models.Post

<div class="panel-blog-title-bar">
    <a class="btn btn-icon panel-card" asp-area="Dashboard" asp-controller="Blog" asp-action="Index">
        <img src="/icons/panel-back.svg" />
    </a>
    <h4>حذف پست</h4>
</div>

<div class="panel-blog-delete">
    <div>
        <h4 class="post-title">@Model.Title</h4>
        <div class="post-info">
            <div class="post-author">
                <img src="/icons/author.svg" />
                @Model.Author.FirstName @Model.Author.LastName
            </div>
            <div class="post-publish">
                <img src="/icons/publish.svg" />
                @Model.Published.ToString("yyyy-MM-dd")
            </div>
        </div>
    </div>
    <form class="panel-card" asp-action="Delete">
        <h4>آیا از حذف این پست اطمینان دارید؟</h4>
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-cta btn-danger">
            <span>
                <img src="/icons/post-delete-w.svg" />
                تایید
            </span>
        </button>
    </form>
</div>