@model ApplicationUser
<div class="panel-provinces-card">
    <a class="panel-profile-setting-button" asp-area="Dashboard" asp-controller="Provinces" asp-action="Index">
        <img src="/icons/add-square-blue.svg" />
    </a>
</div>
