@model SettingsViewModel

<div class="panel-settings">
    <div class="settings-title-bar">
        <a class="btn btn-icon panel-card" asp-area="Dashboard" asp-controller="Home" asp-action="Index">
            <img src="/icons/panel-back.svg" />
        </a>
        <h4>حساب کاربری</h4>
    </div>
    <div class="settings-content">
        <div class="settings-row settings-profile-row">
            <form asp-action="Index" method="post">
                <div class="panel-card">
                    <input type="hidden" asp-for="Profile.Id" />
                    <div class="input en">
                        <img src="/icons/personal-card.svg" />
                        <input asp-for="Profile.UserName" placeholder="کد ملی" />
                    </div>
                    <div class="input">
                        <img src="/icons/user-firstname.svg" />
                        <input asp-for="Profile.FirstName" placeholder="نام" />
                    </div>
                    <div class="input">
                        <img src="/icons/user-lastname.svg" />
                        <input asp-for="Profile.LastName" placeholder="نام خانوادگی" />
                    </div>
                    <div class="input en">
                        <img src="/icons/calendar.svg" />
                        <input asp-for="Profile.BirthDate" placeholder="تاریخ تولد" />
                    </div>
                    <div class="submit-wrapper">
                        <div class="input en">
                            <img src="/icons/password.svg" />
                            <input asp-for="Profile.Password" placeholder="رمزعبور" />
                        </div>
                        <button type="submit" class="btn-cta submit-button">
                            <span class="login-title">
                                <img src="/icons/secure-accept.svg" />
                                به روز رسانی
                            </span>
                        </button>
                    </div>
                </div>
                <span asp-validation-for="Profile.UserName"></span>
                <span asp-validation-for="Profile.FirstName"></span>
                <span asp-validation-for="Profile.LastName"></span>
                <span asp-validation-for="Profile.BirthDate"></span>
            </form>
            <div class="form-validation">
                <h4 class="panel-card-title">مشخصات فردی</h4>
                <p>مشخصات فردی شما، اطلاعات شناسایی ذکر شده در شناسنامه است که شامل موارد زیر می شود. لطفا مشخصات مورد نظر را مطابق با شناسنامه خود وارد نمایید.</p>
                <div class="validation-item">
                    <span>
                        <img src="/icons/personal-card.svg" />
                        <h4>کد ملی:</h4>
                    </span>
                    <p>در هنگام ثبت نام جهت سهولت در روند ثبت نام شماره تماس شما به جای کد ملی ذخیره شده است. چنانچه هنوز نسبت به ثبت کد ملی خود اقدام نکرده اید لطفا کد ملی خود را در قسمت مربوطه وارد نمایید.</p>
                </div>
                <div class="validation-item">
                    <span>
                        <img src="/icons/user-firstname.svg" />
                        <h4>نام:</h4>
                    </span>
                    <p>نام کوچک شما در هنگام ثبت نام ثبت شده است، چنانچه نام خود را به صورت اشتباه یا غیرفارسی وارد نموده اید می توانید نسبت به اصلاح آن اقدام نمایید.</p>
                </div>
                <div class="validation-item">
                    <span>
                        <img src="/icons/user-lastname.svg" />
                        <h4>نام خانوادگی:</h4>
                    </span>
                    <p>نام خانوادگی شما نیز در هنگام ثبت نام ثبت شده است. در صورت مغایرت می توانید آن را اصلاح نمایید. لطفا نام خانوادگی خود را به صورت فارسی وارد نمایید.</p>
                </div>
                <div class="validation-item">
                    <span>
                        <img src="/icons/calendar.svg" />
                        <h4>تاریخ تولد:</h4>
                    </span>
                    <p>تاریخ تولد شما بر اساس تاریخ ثبت شده در شناسنامه مورد تایید خواهد بود. لطفا تاریخ تولد خود را به ترتیب سال، ماه و روز که با خط تیره از هم جدا شده باشند وارد نمایید.</p>
                </div>
                <div class="validation-item">
                    <span>
                        <img src="/icons/password.svg" />
                        <h4>رمزعبور:</h4>
                    </span>
                    <p>به جهت اطمینان از اینکه اقدام به تغییر مشخصات فردی توسط صاحب این حساب کاربری صورت می پذیرد وارد کردن رمزعبور الزامی می باشد.</p>
                </div>
            </div>
        </div>
        <div class="panel-card settings-row settings-communication-row">
            <form asp-action="Index" method="post">
                <div>
                    <input type="hidden" asp-for="Communication.Id" />
                    <div class="input en">
                        <img src="/icons/phone.svg" />
                        <input asp-for="Communication.PhoneNumber" placeholder="شماره موبایل" />
                    </div>
                    <div class="input en">
                        <img src="/icons/at.svg" />
                        <input asp-for="Communication.Email" placeholder="پست الکترونیک" />
                    </div>
                    <div class="submit-wrapper">
                        <div class="input en">
                            <img src="/icons/password.svg" />
                            <input asp-for="Communication.Password" placeholder="رمزعبور" />
                        </div>
                        <button type="submit" class="btn-cta submit-button">
                            <span class="login-title">
                                <img src="/icons/secure-accept.svg" />
                                به روز رسانی
                            </span>
                        </button>
                    </div>
                </div>
                <span asp-validation-for="Communication.PhoneNumber"></span>
                <span asp-validation-for="Communication.Email"></span>
            </form>
            <div class="form-validation">
                <h4 class="panel-card-title">اطلاعات تماس</h4>
                <p>اطلاعات تماس شامل شماره تلفن همراه و پست الکترونیک (ایمیل) شماست. در صورت نیاز به ارتباط مستقیم با شما از طریق کارشناسان سامانه، بسته به شرایط و مورد ارتباط یکی از این دو مورد استفاده قرار می گیرند.</p>
                <div class="validation-item">
                    <span>
                        <img src="/icons/phone.svg" />
                        <h4>شماره تماس:</h4>
                    </span>
                    <p>شماره تماس شما در سامانه، شماره تلفن همراه شما می باشد. لازم است بدانید که این شماره تماس به عنوان نام کاربری شما جهت ورود به سامانه مورد استفاده قرار می گیرد. بنابراین در صورت تغییر شماره تماس خود، آن را به خاطر داشته باشید.</p>
                </div>
                <div class="validation-item">
                    <span>
                        <img src="/icons/at.svg" />
                        <h4>پست الکترونیک:</h4>
                    </span>
                    <p>پست الکترونیک (ایمیل) شما در هنگام ثبت نام ثبت نشده است. اما چنانچه نیاز به ارسال هر گونه پیام متنی یا فرم و یا هرگونه سند دیگری باشد ارسال از طریق پست الکترونیکی صورت می گیرد. پس در نظر داشته باشید که به پست الکترونیک ثبت شده دسترسی داشته باشید.</p>
                </div>
                <div class="validation-item">
                    <span>
                        <img src="/icons/password.svg" />
                        <h4>رمزعبور:</h4>
                    </span>
                    <p>به جهت اطمینان از اینکه اقدام به تغییر اطلاعات تماس توسط صاحب این حساب کاربری صورت می پذیرد وارد کردن رمزعبور الزامی می باشد.</p>
                </div>
            </div>
        </div>
        <div class="settings-row settings-password-row">
            <form asp-action="Index" method="post">
                <div class="panel-card">
                    <input type="hidden" asp-for="Password.Id" />
                    <div class="input en">
                        <img src="/icons/password.svg" />
                        <input asp-for="Password.NewPassword" placeholder="رمزعبور جدید" />
                    </div>
                    <div class="input en">
                        <img src="/icons/password.svg" />
                        <input asp-for="Password.ConfirmNewPassword" placeholder="تکرار رمزعبور جدید" />
                    </div>
                    <div class="submit-wrapper">
                        <div class="input en">
                            <img src="/icons/password.svg" />
                            <input asp-for="Password.Password" placeholder="رمزعبور کنونی" />
                        </div>
                        <button type="submit" class="btn-cta submit-button">
                            <span class="login-title">
                                <img src="/icons/secure-accept.svg" />
                                به روز رسانی
                            </span>
                        </button>
                    </div>
                </div>
                <span asp-validation-for="Password.NewPassword"></span>
                <span asp-validation-for="Password.ConfirmNewPassword"></span>
                <span asp-validation-for="Password.Password"></span>
            </form>
            <div class="form-validation">
                <h4 class="panel-card-title">رمز عبور</h4>
                <p>جهت تغییر رمزعبور خود، می بایست رمزعبور کنونی خود را بدانید. اگر رمزعبور کنونی خود را به یاد نمی آورید لطفا به مدیریت سامانه اطلاع دهید تا نسبت به تعریف رمزعبور جدید (موقت) برای شما اقدام نمایند.</p>
                <div class="validation-item">
                    <span>
                        <img src="/icons/password.svg" />
                        <h4>رمزعبور فعلی و جدید:</h4>
                    </span>
                    <p>در فرم مربوطه فیلد اول رمزعبور جدیدی است که می خواهید برای حساب کاربری خود تعیین نمایید.</p>
                    <p>جهت اطمینان از اینکه رمزعبور خود را درست وارد نموده اید می بایست رمزعبور جدید خود را در فیلد دوم مجددا وارد نمایید. بدیهی است که در صورت مغایرت این دو رمزعبور تغییر نخواهد کرد.</p>
                    <p>فیلد سوم رمزعبور فعلی شماست که به جهت اطمینان از اینکه اقدام به تغییر رمزعبور توسط صاحب این حساب کاربری صورت می پذیرد الزامی می باشد.</p>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
