@model ApplicationUser

<div class="panel-settings">
    <div class="settings-title-bar">
        <a class="btn btn-icon panel-card" asp-area="Dashboard" asp-controller="Home" asp-action="Index">
            <img src="/icons/panel-back.svg" />
        </a>
        <h4>حساب کاربری</h4>
    </div>
    <div class="settings-content">
        <div class="settings-row settings-personal-row">
            <form class="panel-card" asp-action="UpdateName">
                <h4 class="panel-card-title">مشخصات فردی</h4>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="input en">
                    <img src="/icons/personal-card.svg" />
                    <input asp-for="UserName" placeholder="کد ملی" />
                </div>
                <div class="input">
                    <img src="/icons/user-firstname.svg" />
                    <input asp-for="FirstName" placeholder="نام" />
                </div>
                <div class="input">
                    <img src="/icons/user-lastname.svg" />
                    <input asp-for="LastName" placeholder="نام خانوادگی" />
                </div>
                <div class="input en">
                    <img src="/icons/calendar.svg" />
                    <input asp-for="BirthDate" placeholder="تاریخ تولد" />
                </div>
                <button type="submit" class="btn-cta submit-button">
                    <span class="login-title">
                        <img src="/icons/secure-accept.svg" />
                        به روز رسانی
                    </span>
                </button>
            </form>
            <div class="form-validation"></div>
        </div>
        <div class="settings-row settings-contact-row">
            <form class="panel-card" asp-action="UpdateContact">
                <h4 class="panel-card-title">اطلاعات تماس</h4>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="input en">
                    <img src="/icons/phone.svg" />
                    <input asp-for="PhoneNumber" placeholder="شماره موبایل" />
                </div>
                <div class="input en">
                    <img src="/icons/at.svg" />
                    <input asp-for="Email" placeholder="پست الکترونیک" />
                </div>
                <button type="submit" class="btn-cta submit-button">
                    <span class="login-title">
                        <img src="/icons/secure-accept.svg" />
                        به روز رسانی
                    </span>
                </button>
            </form>
            <div class="form-validation"></div>
        </div>
        <div class="settings-row settings-password-row">
            <form class="panel-card" asp-action="ChangePassword">
                <h4 class="panel-card-title">رمز عبور</h4>
                <div class="input en">
                    <img src="/icons/password.svg" />
                    <input asp-for="Email" placeholder="رمزعبور" />
                </div>
                <div class="input en">
                    <img src="/icons/password.svg" />
                    <input asp-for="Email" placeholder="رمزعبور" />
                </div>
                <div class="input en">
                    <img src="/icons/password.svg" />
                    <input asp-for="Email" placeholder="تکرار رمزعبور" />
                </div>
                <button type="submit" class="btn-cta submit-button">
                    <span class="login-title">
                        <img src="/icons/secure-accept.svg" />
                        به روز رسانی
                    </span>
                </button>
            </form>
            <div class="form-validation"></div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
