@{
    ViewData["Title"] = "درباره ما";
}

<section class="af-about">
    <div class="af-about-text">
        <h4>موسسه طنین ماندگار آوای فضیلت</h4>
        <div>
            <p>پس از پژوهش ها و بررسی های مقدماتی، بیستم مرداد ماه 1397 آوای فضیلت به صورت رسمی آغاز به کار کرد. ما با تکیه بر علم طراحی آموزشی، به فرایند آموزش و یادگیری نگاه می کنیم. در آغاز بیشتر فعالیتمان بر برگزاری همایش ها و کارگاه های آموزشی متمرکز بود. دوره هایی چون طراحی آموزشی در تدریس آنلاین، آموزش سوژه یابی در نویسندگی، مقاله نویسی، مرا ببین (ویژه زوجین)، تولید محتوای الکترونیکی، تربیت جنسی و ... .</p>
            <p>در این بین، خدمات مشاوره ای در زمینه های تحصیلی و ازدواج نیز برقرار بود. اما علاوه بر آموزه های تخصصی و کارگاهی، ما عهدی داشتیم و داریم که فعالیت های عام المنفعه آموزشی خود را همواره مدنظر قرار دهیم؛ از این روی، از طریق لایوها و پست های اینستاگرامی، جلسات مشاوره ای عمومی و پاسخگویی به سوالات (بدون هزینه)، همواره سعی داشته و داریم که با کسانی باشیم که خود نیز از آن جنس و نوع هستند.</p>

            <p>از سال 98 مطالعات ما برای آکادمی شکل جدی تری به خود گرفت و پس از کسب نتایج امیدبخش و موفقیت های عزیزانی که به صورت پایلوت طرح کنکور را برای ایشان اجرا کردیم، بر آن شدیم تا این طرح را عمومی کنیم. خوشبختانه به دلیل اثربخشی های بالای این طرح، که موجب افزایش توان و لذت یادگیری، کاهش تنش ها و استرس های منفی و همچنین عملکرد بالا در کنکور، استقبال فراگیران فراتر از انتظار روزهای نخست بود. همچنین در پایگاه انتخاب رشته کنکور سراسری، جمع بزرگی از دختران و پسران آینده ساز، با بهره مندی از مشاوره های تخصصی آوای فضیلت، راهی دانشگاه ها و رشته های مورد علاقه خود، شدند.</p>
            <p class="text-danger">طرح ویژه کنکور آوای فضیلت از نظر ساختار و مبنای علمی، طرحی منحصر به فرد است که مشابهی در ایران ندارد؛ دلیل و وجه تمایزش هم زیربنای آن است که علم طراحی آموزشی است.</p>
            <p>گفتنی است بسیاری از خدمات به صورت آنلاین به مخاطبان ارائه می شود تا مشکلات رفت و آمد و بعد مسافت حل شود. برای نمونه، جلسات مشاوره ای بچه های کنکوری به صورت تماس تصویری برگزار می شود. علاوه بر این جلسات، به صورت مدام و مستمر از طریق فضای مجازی، فراگیر با طراح آموزشی خود در ارتباط است و مسائل یادگیری خود را با ایشان در میان می گذارد و برنامه مطالعاتی اختصاصی خود را دریافت می کند. لازم به ذکر است این جلسات به صورت انفرادی برگزار می شود که دلیل آن هم تفاوت های فردی فراگیران است.</p>
        </div>
    </div>
    <div class="af-about-leaders">
        @Html.PartialAsync("~/Views/_Components/_LeaderBoard.cshtml").Result
    </div>
</section>

<section class="af-contact-card">
    @Html.PartialAsync("~/Views/_Components/_ContactCard.cshtml").Result
</section>
