@model Fazilat.Models.Landing

@{
    ViewData["Title"] = "همایش بزرگ کنکوری ها";
}

<div class="d-md-flex justify-content-between border rounded-lg shadow p-0 landing-page">
    <div class="col-md text-center text-md-right landing-content">
        <div class="row-1">
            <h4 class="primary-title">فرصتی فوق العاده</h4>
            <h3 class="secondary-title">همایش بزرگ کنکوری ها</h3>
            <p class="title-text">آمادگی برای امتحانات نهایی و کنکور</p>
            <div>
                <div class="tags">
                    <p>کلاس های تخصصی</p>
                    <p>برنامه ریزی دقیق</p>
                    <p>مشاوره های حرفه ای</p>
                    <p>پنل کاربری اختصاصی</p>
                </div>
                <div class="calendar">
                    <div class="calendar-date">
                        <div class="day"><h1>30</h1></div>
                        <div class="month"><h3>شهریور</h3></div>
                    </div>
                    <p class="calendar-location">سالن همایش های موزه ملی ایران</p>
                </div>
            </div>
        </div>
        <div class="row-2">
            <h5>با ما یادگیری لذتبخش می شود.</h5>
            <h5>با حضور اساتید برجسته و رتبه های برتر سال های گذشته</h5>
            <p>فقط 100 نفر اول رایگان</p>
        </div>
        <div class="row-3">
            <form asp-controller="Home" asp-action="Conference">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label class="control-label">
                        همین حالا جز  100 نفر اول باش
                    </label>
                    <input asp-for="Phone" type="tel" placeholder="091XXXXXXXX" class="form-control" />
                    <button type="submit" value="Create" class="btn btn-primary">
                        <img src="/images/phone-icon.svg" />
                    </button>
                </div>
            </form>
            <p>همراه هدیه و پذیرایی از میهمانان عزیز</p>
        </div>
    </div>
    <div class="col-md p-0 landing-image">
        <img src="/images/LandingBack.svg" style="height: 100%; max-width: 100%;" />
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
