@model Fazilat.Models.Landing

@{
    ViewData["Title"] = "همایش بزرگ کنکوری ها";
}

<div class="d-md-flex justify-content-between border rounded-lg shadow p-0 landing-page">
    <div class="col-md text-center text-md-right landing-content">
        <div class="row-1">
            <h3 class="primary-title">ثبت نام شما با موفقیت انجام شد.</h3>
        </div>
        <div class="row-2">
        </div>
        <div class="row-3">
        </div>
    </div>
    <div class="col-md p-0 landing-image">
        <img src="/images/LandingBack.svg" style="height: 100%; max-width: 100%;" />
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
