@model IEnumerable<BlogPost>
@{
    ViewData["Title"] = "جستجوی خبر";
}

<div class="text-center alert alert-fazilat rounded-lg box-shadow overflow-hidden">
    <h3 class="my-2 text-bold">@ViewData["Title"]</h3>
</div>
<hr />

@if (Model.Count() == 0)
{
    <form id="blog-search-form" method="post" action="/search" class="d-flex bg-white border rounded-lg p-3 mb-3">
        <div class="form-floating w-100 ml-3">
            <input type="search" name="title" class="form-control" placeholder="جستجوی موضوع خبر" required />
        </div>
        <button type="submit" class="btn btn-primary w-25">جستجو</button>
    </form>
    <hr />

    <div class="alert alert-danger text-center py-5">
        هیج نتیجه ای برای عبارت مورد نظر شما یافت نشد.
    </div>
}
<div class="row d-md-flex flex-wrap">
@foreach(var post in Model)
{
    <div class="col-md-4 p-3">
        <div class="border border-success bg-white rounded-lg p-3">
            <img class="w-100 rounded-lg border border-secondary mb-3" src="/images/blog/@post.Image" />
            <h4 class="text-right mb-2">@post.Title</h4>
            <p class="text-right">
                @post.Content.Substring(0, 160)
            </p>
            @Html.ActionLink("متن کامل خبر", "Blog", "Home", new { id = post.Id }, new { Class = "small" })
        </div>
    </div>
}
</div>
