@model Fazilat.Models.Category

@{
    ViewData["Title"] = "حذف آلبوم";
    Layout = "~/Areas/Account/Views/Shared/_Layout.cshtml";
}

<h4>آیا از حذف دسته <b>@Html.DisplayFor(model => model.PersianName)</b> اطمینان دارید؟</h4>
<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="بله، حتما" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-outline-secondary">پشیمان شدم</a>
    </form>
</div>
