@model Fazilat.Models.Workshop

@{
    ViewData["Title"] = "حذف کلاس " + Model.Title;
    Layout = "~/Areas/Account/Views/Shared/_Layout.cshtml";
}

<h4>آیا از حذف <b>@Html.DisplayFor(model => model.Title)</b> پایه @Html.DisplayFor(model => model.Grade) اطمینان دارید؟</h4>
<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="بله، حتما" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-outline-secondary">پشیمان شدم</a>
    </form>
</div>
