@using System.Globalization
@model IEnumerable<Fazilat.Models.Curriculum>
@{
    ViewData["Title"] = "فهرست برنامه مطالعاتی";
}

<div class="list-group p-0">
    <div class="alert alert-info small text-center mb-3">
        <p class="m-0">@Html.Raw(TempData["LimitationMessage"])</p>
    </div>
    @if (Model != null)
    {
        @if (Model.Count() < 1)
        {
            <div class="alert alert-warning m-0">
                هنوز برای شما برنامه مطالعه ای تنظیم نشده است.
            </div>
        }
        @foreach (var curriculum in Model)
        {
            var curriculumStartDate = curriculum.StartDate.ToDateTime(TimeOnly.MinValue);
            PersianCalendar persianCalendar = new PersianCalendar();
            var startDate = String.Format("{0}/{1}/{2}",
                persianCalendar.GetYear(curriculumStartDate).ToString(),
                persianCalendar.GetMonth(curriculumStartDate).ToString(),
                persianCalendar.GetDayOfMonth(curriculumStartDate).ToString());
            <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" asp-area="Account" asp-controller="Dashboard" asp-action="Curriculum" asp-route-id="@curriculum.Id">
                @curriculum.Title
                <span class="badge badge-dark">@startDate</span>
            </a>
        }
    }
</div>
