/*
 * Inputs Styles
 **************/
input {
    outline: none;
    border: none;
}

.input {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px;
    gap: 12px;
    width: inherit;
    background: #FFFFFF;
    border: 1px solid #A9A9A9;
    border-radius: 8px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

    .input:has(.input-validation-error),
    .input:has(.input-validation-error) input,
    .input.en:has(.input-validation-error) input {
        border-color: #f04040;
    }

    .input img {
        width: 20px;
        height: 20px;
    }

    .input input {
        direction: rtl;
        height: auto;
        padding: 0px 12px 0 0;
        border-right: 2px solid #A9A9A9;
        font-weight: 300;
        font-size: 16px;
        display: flex;
        align-items: center;
        text-align: right;
        /* Inside auto layout */
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 1;
        flex-basis: 80%;
        min-width: 0;
    }

        .input input:has(+input) {
            flex-basis: 30%;
        }

        .input input + input {
            flex-basis: 50%;
            border: none;
        }

    .input.en,
    .input.en * {
        direction: ltr;
    }

        .input.en input {
            border: none;
            text-align: left;
            padding: 0px 0 0 12px;
            border-left: 2px solid #A9A9A9;
        }
/* Inputs Styles *** END */

/*
 * Button Types Styles
 ********************/
a.btn,
button {
    box-sizing: border-box;
    outline: none;
    border: none;
    background: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    gap: 16px;
    border-radius: 8px;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    font-size: 16px;
    line-height: 18px;
    cursor: pointer;
}

    a.btn:focus,
    button:focus {
        box-shadow: none !important;
    }

    button span {
        overflow: hidden;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-weight: 300;
        gap: 12px;
        text-wrap: nowrap;
    }

    a.btn-icon,
    button.btn-icon {
        padding: 0;
        width: 36px;
        height: 36px;
    }

        a.btn-icon img,
        button.btn-icon img {
            height: 22px;
            aspect-ratio: 1;
            object-fit: contain;
        }

    a.btn-ghost,
    button.btn-ghost {
        border: 2px solid #292D32;
        color: #292D32;
    }

        a.btn-ghost.btn-invert,
        button.btn-ghost.btn-invert {
            border: 2px solid #FFFFFF;
            color: #FFFFFF;
        }

    a.btn-cta,
    button.btn-cta {
        background: #228B22;
        color: #FFFFFF;
    }

    a:has(button):hover {
        text-decoration: none;
    }
    button.btn-next,
    button.btn-previous {
        padding: 6px 12px;
        border: 1px solid #292D32;
        line-height: 0;
        color: #292D32;
        gap: 8px;
    }

        button.btn-next:after,
        button.btn-previous:before {
            height: 18px;
            content: url('/icons/next.svg');
        }
        button.btn-next:after {
            content: url('/icons/next.svg');
        }
        button.btn-previous:before {
            content: url('/icons/previous.svg');
        }

        button:disabled.btn-next,
        button:disabled.btn-previous {
            border-color: #a9a9a9;
            color: #a9a9a9;
        }
            button:disabled.btn-next:after {
                content: url('/icons/next-d.svg');
            }
            button:disabled.btn-previous:before {
                content: url('/icons/previous-d.svg');
            }

@media (max-width: 480px) {
    button.btn-next,
    button.btn-previous {
        width: 32px;
        height: 32px;
        font-size: 0;
        gap: 0;
    }
}
/* Button Type Styles *** END */

/*
 * DropDown Input Styles
 **********************/
.dropdown {
    position: relative;
    width: inherit;
    background: #FFFFFF;
    border: 1px solid #292D32;
    border-radius: 8px;
}

    .dropdown .dropdown-selected {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 6px;
        padding: 4px 8px;
        width: inherit;
        height: 100%;
    }

        .dropdown .dropdown-selected img {
            width: 20px;
            height: 20px;
            transition: all ease-in-out 150ms;
        }

        .dropdown .dropdown-selected hr {
            margin: 0;
            padding: 0;
            border: none;
            width: 2px;
            height: inherit;
            background: #A9A9A9;
        }

    .dropdown .dropdown-options {
        position: absolute;
        top: calc(100% + 16px);
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: stretch;
        gap: 4px;
        background: #fff;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        padding: 6px;
        border-radius: 8px;
        min-width: fit-content;
    }

        .dropdown .dropdown-options .dropdown-option {
            display: block;
            padding: 6px 12px;
            background: transparent;
            cursor: pointer;
        }

        .dropdown .dropdown-options .dropdown-option:hover {
            background: rgba(0, 0, 0, .05);
        }

    .dropdown input:checked ~ .dropdown-selected img {
        transform: rotate(180deg);
    }

    .dropdown input:not(:checked) ~ .dropdown-options {
        display: none;
    }
/* DropDown Input Styles *** END */



/*
 * Contact Card Styles
 ********************/
.contact-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    padding: 16px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    background: url('/images/home-page-contact-background.jpg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    border-radius: 12px;
    /* Inside auto layout */
    flex: none;
    order: 5;
    align-self: stretch;
    flex-grow: 0;
    overflow: hidden;
}

    .contact-card .contact-info {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        padding: 12% 16px 16px;
        gap: 32px;
        /* Inside auto layout */
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 1;
        flex-basis: 50%;
        margin-right: calc(50% - 16px);
    }

        .contact-card .contact-info .contact-whatsapp,
        .contact-card .contact-info .contact-phone,
        .contact-card .contact-info .contact-address {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: self-start;
            gap: 16px;
        }

        .contact-card .contact-info img {
            aspect-ratio: 1;
            height: 28px;
        }

        .contact-card .contact-info h5 {
            margin: 0;
            font-weight: 600;
            font-size: 18px;
            line-height: 32px;
            /* identical to box height, or 171% */
            text-align: right;
            color: #000000;
        }

@media (max-width: 1024px) {
    .contact-card .contact-info {
        margin: 0;
        gap: 16px;
        padding: 16% 16px 16px;
    }
}

@media (max-width: 480px) {
    .contact-card {
        aspect-ratio: auto;
    }

        .contact-card .contact-info {
            gap: 16px;
            margin: 0;
            padding: 25% 0 16px;
        }


        .contact-card .contact-info img {
            height: 24px;
        }

        .contact-card .contact-info h5 {
            font-size: 16px;
        }
}
/* Contact Card Styles *** END */

/* 
 * Blog Post Component Styles
 ***************************/
.blog-post {
    display: flex;
    justify-content: flex-start;
    align-items: self-start;
    gap: 16px;
}

    .blog-post.horizontal {
        flex-direction: row;
        flex-basis: 100%;
    }

    .blog-post.vertical {
        flex-direction: column;
        flex-basis: calc(50% - 8px);
        max-width: calc(50% - 8px);
    }

    .blog-post .blog-post-image {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        align-items: stretch;
        background: #ffffff;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
        aspect-ratio: 1.75;
        overflow: hidden;
    }

    .blog-post.horizontal .blog-post-image {
        flex-basis: calc(50% - 8px);
        align-self: stretch;
    }

    .blog-post.vertical .blog-post-image {
        width: 100%;
        overflow: hidden;
    }

        .blog-post .blog-post-image img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border: none;
        }

    .blog-post .blog-post-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 8px;
        flex-grow: 1;
    }

    .blog-post.horizontal .blog-post-content {
        flex-basis: calc(50% - 8px);
        align-self: stretch;
    }

    .blog-post.vertical .blog-post-content {
        width: 100%;
    }

    .blog-post .blog-post-content .blog-post-body {
        display: flex;
        justify-content: flex-end;
        flex-grow: 1;
        gap: 16px;
    }

    .blog-post.horizontal .blog-post-content .blog-post-body {
        justify-content: space-between;
        flex-direction: column;
    }

    .blog-post.vertical .blog-post-content .blog-post-body {
        flex-direction: column-reverse;
    }

    .blog-post .blog-post-content .blog-post-body .blog-post-summary h5 {
        font-weight: 600;
        font-size: clamp(15px, 125%, 18px);
        line-height: 32px;
        max-height: 32px;
        overflow: hidden;
        color: #292D32;
    }

    .blog-post .blog-post-content .blog-post-body .blog-post-summary p {
        font-weight: 400;
        font-size: clamp(12px, 100%, 14px);
        line-height: 24px;
        max-height: 72px;
        overflow: hidden;
        color: #292D32;
    }

    .blog-post .blog-post-author {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;
        gap: 32px;
    }

        .blog-post .blog-post-author .post-author,
        .blog-post .blog-post-author .post-publish {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: nowrap;
            gap: 6px;
            font-weight: 500;
            font-size: 13px;
            color: #777777;
        }

@media (max-width: 600px) {
    .blog-post.horizontal,
    .blog-post.vertical {
        flex-direction: column;
        flex-basis: 100%;
        max-width: 100%;
    }

        .blog-post.horizontal .blog-post-image,
        .blog-post.vertical .blog-post-image {
            flex-basis: auto;
            width: 100%;
        }

        .blog-post.horizontal .blog-post-content,
        .blog-post.vertical .blog-post-content {
            flex-basis: auto;
            width: 100%;
        }

            .blog-post.horizontal .blog-post-content .blog-post-body,
            .blog-post.vertical .blog-post-content .blog-post-body {
                flex-direction: column-reverse;
            }
}
/* Blog Post Component Styles *** END */

/* 
 * Leaderboard Component Styles
 *****************************/
.leaderboard {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    padding: 16px 11px;
    gap: 24px;
}

    .leaderboard button {
        flex-basis: 5%;
    }

    .leaderboard button img {
        height: 32px;
    }

    .leaderboard .leaders-list {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 0px 5px;
        gap: 16px;
        /* Inside auto layout */
        flex: 0;
        order: 0;
        flex-basis: 100%;
        align-self: stretch;
        flex-grow: 1;
        overflow: hidden;
        overflow-x: scroll;
        padding-bottom: 16px;
        margin-bottom: -33px;
    }

    .leaderboard .leaders-list .leader {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        padding: 16px 16px 32px;
        gap: 16px;
        background: #FFFFFF;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
        border-radius: 12px;
        /* Inside auto layout */
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
        flex-basis: calc(25% - 12px);
    }

        .leaderboard .leaders-list .leader img.leader-profile {
            width: 100%;
            aspect-ratio: 1;
            object-fit: cover;
            border-radius: 8px;
            overflow: hidden;
        }

        .leaderboard .leaders-list .leader .leader-name {
            margin: 0;
            margin-bottom: 12px;
            font-weight: 600;
            font-size: 18px;
            text-align: right;
            color: #292D32;
        }

        .leaderboard .leaders-list .leader .leader-role {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            text-align: right;
            color: #292D32;
        }

@media (max-width: 1023px) {
    .leaderboard .leaders-list {
        flex-grow: 1;
        flex-basis: 100%;
    }

    .leaderboard .leaders-list .leader {
        flex-basis: calc(33% - 8px);
    }
}

@media (max-width: 480px) {
    .leaderboard {
        padding: 0 16px;
    }

        .leaderboard button {
            display: none;
        }

        .leaderboard .leaders-list {
            padding: 0;
            padding-bottom: 16px;
            margin-bottom: -12px;
        }

        .leaderboard .leaders-list .leader {
            flex-basis: 75%;
        }
}
/* Leaderboard Component Styles *** END */

/*
 * Panel Cards Component Styles
 *****************************/
.panel-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    gap: 0px;
    padding: 16px;
    margin: 0;
    background: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .1);
    border-radius: 12px;
}

    .panel-card .panel-card-action {
        position: absolute;
        width: 24px;
        height: 24px;
        left: 16px;
        top: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999;
    }

    .panel-card .panel-card-title {
        position: relative;
        padding: 0;
        margin: 0;
        font-size: 15px;
        font-weight: 600;
        color: #000000;
    }
/* Panel Cards Component Styles *** END */

/* 
 * Profile Card Component Styles
 ******************************/
.panel-profile-card {
    gap: 24px;
    max-width: 33.33333%;
    flex-grow: 1;
    height: 224px;
}

    .panel-profile-card .profile-name {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        gap: 12px;
    }

        .panel-profile-card .profile-name .profile-picture {
            width: 72px;
            aspect-ratio: 1;
            object-fit: cover;
            border-radius: 99px;
            border: 2px solid #228B22;
        }

        .panel-profile-card .profile-name .profile-fullname {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;
        }

            .panel-profile-card .profile-name .profile-fullname .profile-lastname,
            .panel-profile-card .profile-name .profile-fullname .profile-firstname {
                margin: 0;
            }

            .panel-profile-card .profile-name .profile-fullname .profile-lastname {
                font-weight: 300;
                color: gray;
            }

    .panel-profile-card .profile-contact {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        gap: 16px;
    }

        .panel-profile-card .profile-contact .profile-mail,
        .panel-profile-card .profile-contact .profile-phone {
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-start;
            align-items: center;
            gap: 8px;
            font-size: 16px;
            font-weight: 400;
            color: #292D32;
            line-height: 21px;
        }

            .panel-profile-card .profile-contact .profile-mail img,
            .panel-profile-card .profile-contact .profile-phone img {
                height: 21px;
            }
/* Profile Card Component Styles *** END */

/* 
 * Provinces Card Component Styles
 ********************************/
.panel-provinces-card {
    gap: 16px;
    max-width: 33.33333%;
    height: 224px;
    justify-content: flex-start;
    flex-grow: 1;
}

    .panel-provinces-card .provinces-wrapper {
        overflow: hidden;
    }

        .panel-provinces-card .provinces-wrapper .provinces-list {
            display: flex;
            flex-direction: row;
            justify-content: stretch;
            align-items: flex-start;
            flex-wrap: wrap;
            gap: 8px;
            height: 100%;
            overflow-y: scroll;
            padding-left: 8px;
            margin-left: -23px;
        }

            .panel-provinces-card .provinces-wrapper .provinces-list p {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: nowrap;
                padding: 6px 12px;
                margin: 0;
                font-size: 14px;
                font-weight: 400;
                border: 1px solid #292D32;
                border-radius: 6px;
                flex-grow: 1;
            }
/* Provinces Card Component Styles *** END */

/* 
 * Roles Card Component Styles
 ****************************/
.panel-roles-card {
    gap: 16px;
    max-width: 33.33333%;
    height: 224px;
    justify-content: flex-start;
    flex-grow: 1;
}

    .panel-roles-card .roles-wrapper {
        overflow: hidden;
    }

        .panel-roles-card .roles-wrapper .roles-list {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: stretch;
            gap: 0px;
            height: 100%;
            overflow-y: scroll;
            padding-left: 8px;
            margin-left: -23px;
        }

            .panel-roles-card .roles-wrapper .roles-list details {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 4px 0px;
                gap: 12px;
                border-bottom: 1px solid #E7E7E7;
                align-self: stretch;
                font-size: 12px;
                font-weight: 300;
                color: #292D32;
            }
            .panel-roles-card .roles-wrapper .roles-list details:last-child {
                border-bottom: none;
            }
                .panel-roles-card .roles-wrapper .roles-list details summary {
                    list-style: none;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    gap: 12px;
                    cursor: pointer;
                }

                    .panel-roles-card .roles-wrapper .roles-list details summary > div {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: flex-start;
                        gap: 0px;
                    }

                        .panel-roles-card .roles-wrapper .roles-list details summary > div * {
                            margin: 0;
                            padding: 0;
                            font-size: 14px;
                        }

                        .panel-roles-card .roles-wrapper .roles-list details summary > div h5 {
                            font-weight: 500;
                        }

                        .panel-roles-card .roles-wrapper .roles-list details summary > div p {
                            font-weight: 300;
                            color: #c7c7c7;
                        }

            .panel-roles-card .roles-wrapper .roles-list details ul {
                margin: 0;
                padding: 4px 16px 4px 0;
                font-size: 12px;
                font-weight: 300;
                color: #292D32;
            }
/* Roles Card Component Styles *** END */

/* 
 * Users Card Component Styles
 ****************************/
.panel-users-card {
    width: 100%;
    flex-grow: 1;
    overflow: hidden;
}

    .panel-users-card .users-wrapper {
        overflow: hidden;
        overflow-x: scroll;
        margin-bottom: -18px;
        padding-bottom: 16px;
    }

        .panel-users-card .users-wrapper .users-list {
            width: 100%;
            row-gap: 12px;
            border-collapse: separate;
            border-spacing: 0 8px;
        }

            .panel-users-card .users-wrapper .users-list .row-action {
                padding: 0 4px;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
                gap: 6px;
            }

                .panel-users-card .users-wrapper .users-list thead tr {
                    color: #A9A9A9;
                }

                    .panel-users-card .users-wrapper .users-list thead tr th {
                        padding: 4px 8px;
                        text-align: center;
                        font-size: 14px;
                        line-height: 14px;
                        font-weight: 600;
                    }

                    .panel-users-card .users-wrapper .users-list thead tr th:first-child {
                        text-align: right;
                    }

            .panel-users-card .users-wrapper .users-list tbody tr {
                background: #ffffff;
                box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
                transition: all ease-in-out 100ms;
            }

                .panel-users-card .users-wrapper .users-list tbody tr .row-action {
                    opacity: 0;
                    transition: all ease-in-out 100ms;
                }

                .panel-users-card .users-wrapper .users-list tbody tr:hover {
                    background: #e7e7e7;
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0);
                }

                    .panel-users-card .users-wrapper .users-list tbody tr:hover .row-action {
                        opacity: 1;
                    }

                .panel-users-card .users-wrapper .users-list tbody tr td {
                    padding: 8px;
                    text-align: center;
                    font-size: 14px;
                    line-height: 14px;
                    font-weight: 400;
                }

                .panel-users-card .users-wrapper .users-list tbody tr th .user-profile {
                    padding: 8px;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 12px;
                }

                    .panel-users-card .users-wrapper .users-list tbody tr th .user-profile .profile-picture {
                        width: 42px;
                        aspect-ratio: 1;
                        object-fit: cover;
                        border: 1px solid #a7a7a7;
                        border-radius: 4px;
                    }

                    .panel-users-card .users-wrapper .users-list tbody tr th .user-profile .profile-name {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: stretch;
                        gap: 12px;
                    }

                        .panel-users-card .users-wrapper .users-list tbody tr th .user-profile .profile-name h5 {
                            margin: 0;
                            font-size: 14px;
                            line-height: 14px;
                            text-wrap: nowrap;
                            font-weight: 500;
                        }

                        .panel-users-card .users-wrapper .users-list tbody tr th .user-profile .profile-name p {
                            margin: 0;
                            font-size: 14px;
                            line-height: 14px;
                            text-wrap: nowrap;
                            font-weight: 300;
                            color: #a7a7a7;
                        }
/* Users Card Component Styles *** END */

/*
 * Album Card Component Styles
 ****************************/
.panel-album-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 10px;

}

    .panel-album-card .albums-bar {
        padding: 6px 0;
        overflow: hidden;
    }

        .panel-album-card .albums-bar .albums-list {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: stretch;
            gap: 16px;
            overflow-x: scroll;
            padding-bottom: 16px;
            margin-bottom: -32px;
        }

            .panel-album-card .albums-bar .albums-list .album-item {
                min-height: 90px;
                aspect-ratio: 2;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 4px;
                text-decoration: none;
                background: transparent;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0);
                border: 1px solid #d0d0d0;
                border-radius: 12px;
                overflow: hidden;
            }

                .panel-album-card .albums-bar .albums-list .album-item:hover,
                .panel-album-card .albums-bar .albums-list .album-item.active {
                    background: #ffffff;
                    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
                    border: 0px solid #d0d0d0;
                }

                .panel-album-card .albums-bar .albums-list .album-item h4 {
                    margin: 0;
                    color: #292D32;
                    font-weight: 600;
                    font-size: 16px;
                    text-wrap: nowrap;
                }

                .panel-album-card .albums-bar .albums-list .album-item p {
                    margin: 0;
                    color: #a7a7a7;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 14px;
                    text-wrap: nowrap;
                }

    .panel-album-card .album-media-list {
    }


@media (max-width: 480px) {
    .panel-album-card .albums-bar .albums-list {
        padding-bottom: 24px;
        margin-bottom: -12px;
    }
}

/* Album Card Component Styles *** END */