@model Fazilat.Models.FinancialRecord
@{
    ViewData["Title"] = "رسید تراکنش";
}

<div class="list-group col-md-6 p-0">
    <img class="border border-info box-shadow bg-white rounded-lg" src="/images/@Model.PaymentReceipt" />
</div>
