@model Fazilat.Models.ApplicationUser
@{
    ViewData["Title"] = "حذف رمزعبور";
}

@Html.ValidationSummary(false, "", new { @class = "text-danger" })
<div class="row d-flex justify-content-center">
    <div class="col-md-8">
        <form id="educational-file-form" method="post">
            <div class="form-floating p-3 mb-3 border border-success rounded-lg bg-white box-shadow">
                @Html.HiddenFor(m => m.Id)
                <p class="">شما در حال حذف رمزعبور کاربر با مشخصات زیر می باشید.</p>
                <p class="text-danger">آیا اطمینان دارید که عملیات مذکور مورد تایید است؟</p>
                <div class="form-control d-flex justify-content-between">
                    <span>
                        @Html.DisplayFor(m => m.Information.FullName)
                    </span>
                    <span>
                        @Html.DisplayFor(m => m.UserName)
                    </span>
                </div>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-success">بله٬ مورد تایید است</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
